body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-left: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.full {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

div.full {
    overflow: hidden;
    position: absolute;
    border: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

canvas.full {
    border: 0px;
    border-left: 0px;
    overflow: hidden;
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

span {
    font-style: italic;
}

table {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }

.dialog {
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.48);
    -webkit-box-shadow: 1px 1px 3px #292929;
    -moz-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;
    margin: 0px;
}

.dialog-title {
    color: #fff;
    background-color: rgba(64, 64, 64, 0.51);
    font-size: 18px;
    font-weight: bold;
    cursor: move;
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    height:30px;
    overflow:hidden;
}

.dialog-resize {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    
}

.dialog-content {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1px;
    overflow :hidden;
}
